@page "/records"


@using CMouss.ERM.Data
@using Microsoft.AspNetCore.WebUtilities
@using CMouss.ERM.Data.DBModels
@using CMouss.ERM.Data.DBServices
@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks
@using System.Diagnostics

@inject NavigationManager NavigationManager

<button @onclick="() => StateHasChanged()">RRR</button>

<div class="row">
	<div class="col-lg-6">
		<h3>@entityType.PluralName</h3>
	</div>
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" @bind="searchText" placeholder="Search records..." class="form-control"
			@onkeydown="HandleKeyDown" />
			<button class="btn btn-primary" @onclick="async () => await LoadData()">Search</button>
		</div>
	</div>
</div>
<br />
@if (!entityTypeId.HasValue)
{
	<p>No entity type specified.</p>
}
else if (entityType.EntityFields == null || records == null || isLoading)
{
	<p>Loading records and fields...</p>
}
else if (!records.Any())
{
	<p>No records found for entity type @entityTypeId.</p>
}
else
{

	<table class="table table-striped">
		<thead>
			<tr>
				<Grid_TH FieldName="id" Title="Id"
						 SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />

				<Grid_TH FieldName="name" Title="Name"
				SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />

				@foreach (var fieldToShow in fieldsToShow)
				{
					<Grid_TH FieldName="@fieldToShow.Name" Title="@fieldToShow.Name"
							 SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />
				}

				<Grid_TH FieldName="owner" Title="Owner"
						 SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />


				<Grid_TH FieldName="CreateUserId" Title="Created By"
				SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />

				<Grid_TH FieldName="CreateDateTime" Title="Creation Date"
				SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />



				<Grid_TH FieldName="LastUpdateUserId" Title="Last Update By"
						 SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />

				<Grid_TH FieldName="LastUpdate" Title="Last Update Date"
						 SelectedSortBy="@orderByField" SelectedSortIsReversed="@orderByIsReversed" SortChanged="OnSortChanged" />


				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var record in records)
			{
				<tr>
					<td>
						<button @onclick="() => NavigateToDetails(record.Id)">@record.Id</button>
					</td>
					<td>
						<a href="#" @onclick="() => NavigateToDetails(record.Id)">
							@if (string.IsNullOrEmpty(record.Name))
							{
								@record.Id
							}
							else
							{
								@record.Name
							}
						</a>
					</td>
					@foreach (var fieldToShow in fieldsToShow)
					{
						<td>
							@record.RecordFieldValues.FirstOrDefault(x => x.EntityFieldId == fieldToShow.Id)?.FieldValue
						</td>
					}

					<td>@record.OwnerUserId</td>
					<td>@record.CreateUserId</td>
					<td>@record.CreateDateTime</td>
					<td>@record.LastUpdateUserId</td>
					<td>@record.LastUpdate</td>
					<td>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	[Parameter]
	[SupplyParameterFromQuery]
	public int? entityTypeId { get; set; }

	private EntityType entityType;
	private List<Record> records;
	private EntityListView selectedEntityListView;
	private List<EntityListView> entityListViews;
	private List<EntityField> fieldsToShow;

	private string searchText = string.Empty;
	private string orderByField = "id";
	// private string orderByDirection = "ascending"; // ascending or descending
	private bool orderByIsReversed = false;
	private bool isLoading = true;

	DBService dBService = new DBService();

	// protected override async Task OnInitializedAsync()
	// {
	// 	await LoadPage();
	// }

	// protected override Task OnAfterRenderAsync(bool firstRender)
	// {
	// 	return base.OnAfterRenderAsync(firstRender);
	// }


	protected override async Task OnParametersSetAsync()
	{
		await LoadData();
	}

	public async Task LoadData()
	{
		isLoading = true;
		StateHasChanged();
		if (entityTypeId.HasValue)
		{
			entityType = await dBService.EntityTypeDBService.GetByIdAsync(entityTypeId.Value);
			entityListViews = await dBService.EntityListViewDBService.GetListByEntityTypeIdAsync(entityTypeId.Value);

			//Get the list of records for the entity type
			RecordFilterItem recordFilter1 = new RecordFilterItem(1, RecordFilterOperator.Contains, "");

			RecordFilter recordFilter = new RecordFilter() { SearchFor = searchText };
			recordFilter.RecordFilterItems.Add(recordFilter1);
			records = await dBService.RecordDBService.GetByEntityTypeIdAsync(entityTypeId.Value, recordFilter, orderByField, 1, 10, orderByIsReversed);
		}
		else
		{
			entityType = null;
			records = new List<Record>();
		}

		//Get the default listView for the entitytype
		if (entityType.DefaultEntityListViewID.HasValue)
		{
			selectedEntityListView = await dBService.EntityListViewDBService.GetByIdAsync(entityType.DefaultEntityListViewID.Value);
			fieldsToShow = selectedEntityListView.EntityListViewFields.OrderBy(o => o.SortId).Select(o => o.EntityField).ToList();
		}
		else
		{
			fieldsToShow = entityType.EntityFields.ToList();
		}
		isLoading = false;
		StateHasChanged();
	}



	private void NavigateToDetails(int recordId)
	{
		NavigationManager.NavigateTo($"records/details?id={recordId}", false);
	}

	private async Task HandleKeyDown(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
		{
			await LoadData();
		}
	}

	private async Task SortByClicked(string fieldName)
	{
		if (orderByField.ToLower() == fieldName.ToLower())
		{
			if (orderByIsReversed == false) { orderByIsReversed = true; } else { orderByIsReversed = false; }
		}
		else
		{
			orderByIsReversed = false;
		}

		orderByField = fieldName;
		await LoadData();
	}
	private async Task SortByClicked(string fieldName, bool isReversed)
	{
		orderByField = fieldName;
		orderByIsReversed = isReversed;
		await LoadData();
	}

	private async Task OnSortChanged(Grid_TH.SortEventArgs e)
	{
		await SortByClicked(e.Field, e.IsReversed);
	}



	private string THCssGenerator(string fieldName)
	{
		string result = "arrow";
		if (orderByField.ToLower() == fieldName.ToLower())
		{
			if (orderByIsReversed)
			{
				result = "arrow desc";
			}
			else
			{
				result = "arrow asc";
			}
		}

		return result;
	}
}
